<style>
    .hide {
        display: none;
    }

   
</style>

<div class="note-wrap hide" data-nid="" data-aid="">
    <h4>Article Note</h4>
    <form class="note-form">
        <label for="title">Note Title</label>
        <input type="text" id="title" required></input>
        <br/>
        <label for="body"> Note Body</label>
        <textarea id="body" required></textarea>
        <br/>
        <button class="update-note">Save</button>
         <button class="cancel-note">Cancel</button>
    </form>
</div>
{{> header home=true saved=true}}



{{#each articles}}
{{#if saved}}
<div class="article-wrap">
    <p>{{this.title}}</p>
    <a href="{{this.link}}">Article Link</a>
    <button class="unsave-btn" data-aid="{{this._id}}">Unsave</button>

    {{#unless note}}
    <button class="add-btn" data-aid="{{this._id}}">Add A Note</button>

    {{else}}

    <div class="note-wrap" data-nid="{{this.note.title}}">
        <p class="note-title"> {{this.note.title}}<p>
                <p class="note-body">{{this.note.body}}</p>
                <button class="update-btn">Update</button>
    </div>

    {{/unless}}
</div>
{{/if}}
{{/each}}




{{#unless articles}}
<h3> No Articles to display yet</h3>
{{/unless}}

<script>

    $(".unsave-btn").on("click", function () {
        var articleId = $(this).data("aid");

        var updateArticle = {
            saved: false
        }

        var self = $(this)
        $.ajax({
            url: "/articles/" + articleId,
            type: "PUT",
            data: updateArticle,
            success: function (result) {
                var parentElm = self.parent(".article-wrap");
                parentElm.remove();
            }
        })


    })


    $(".add-btn").on("click", function() {
        var articleId = $(this).data("aid");
        $(".note-wrap").attr("data-aid", articleId);
        $(".note-wrap").slideDown("slow");
    })


    $(".cancel-note").on("click", function(e) {
        e.preventDefault();
        clearForm();
    })

    function clearForm() {
        $("#title, #body").val("");
        $(".note-wrap").attr("data-aid", "");
        $(".note-wrap").slideUp("slow");
    };

    $(".update-note").on("click", function(e) {
       
        $(".note-form")[0].reportValidity();
        e.preventDefault();

        var articleId = $(this).parents(".note-wrap").data("aid");

        console.log(articleId);

        var note = {
            title: $("#title").val().trim(),
            body: $("#body").val().trim()
        }

        $.post("/articles/" + articleId + "/note", note, function(response) {
            console.log(response);
            clearForm();
            window.location.reload();
        })
    })


    $(".update-btn").on("click", function() {
            var articleId = $(this).data("aid");
        $(".note-wrap").attr("data-aid", articleId);
        $(".note-wrap").slideDown("slow");
    })

</script>